doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
    link(rel="icon", type="image/png", href="http://i.stack.imgur.com/CE5lz.png")
  body
    block content
    script(type='text/javascript',
        src='https://code.jquery.com/jquery-1.10.2.js')
    script(type='text/javascript',
        src='/assets/js/bootstrap.min.js')
    script(type='text/javascript',
        src='/assets/js/app.js')
    script(type='text/javascript').
        console.log("#{users}")